reference: https://www.scrapingdog.com/blog/scrape-linkedin-jobs/

In [34]:
import requests
from bs4 import BeautifulSoup
import math
import pandas as pd

In [35]:
target_url = 'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Analyst&location=Indonesia&geoId=102478259&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0&start={}'
number_of_loops = math.ceil(25/25)

result = []

for i in range(number_of_loops):
    res = requests.get(target_url.format(i))
    soup = BeautifulSoup(res.text, 'html.parser')
    jobs = soup.find_all("li")

    for x in range(len(jobs)):
        job = jobs[x].find("div", {"class": "base-card"})
        
        if job != None:
            jobId = job.get('data-entity-urn').split(":")[3]
            result.append(jobId)

In [36]:
result

['3706120445',
 '3782381201',
 '3778794615',
 '3779662154',
 '3773696647',
 '3755872765',
 '3575812833',
 '3754698292',
 '3781529590',
 '3779662194',
 '3783835289',
 '3780120554',
 '3777052232',
 '3771514295',
 '3752394635',
 '3758930948',
 '3779662261',
 '3760982750',
 '3695200806',
 '3691368179',
 '3780071453',
 '3779659647',
 '3773675449',
 '3779974494',
 '3773671825']

In [37]:
len(result)

25

In [38]:
target_url = 'https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{}'
jobResult = []
for job in range(len(result)):
    detail = {}
    resp = requests.get(target_url.format(result[job]))
    soup = BeautifulSoup(resp.text, 'html.parser')

    try:
        detail["job-title"] = soup.find(
            "div", {"class": "top-card-layout__entity-info"}).find("a").text.strip()
    except:
        detail["job-title"] = None

    try:
        detail["company"] = soup.find(
            "div", {"class": "top-card-layout__card"}).find("a").find("img").get('alt')
    except:
        detail["company"] = None

    try:
        detail["level"] = soup.find("ul", {"class": "description__job-criteria-list"}).find_all(
            "li")[0].text.replace("Seniority level", "").strip()
    except:
        detail["level"] = None

    try:
        detail["employment-type"] = soup.find("ul", {"class": "description__job-criteria-list"}).find_all(
            "li")[1].text.replace("Employment type", "").strip()
    except:
        detail["employment-type"] = None

    jobResult.append(detail)

In [39]:
jobResult

[{'job-title': 'Data Analyst',
  'company': 'Gojek',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst (CRM)',
  'company': 'Gojek',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Junior Data Analyst',
  'company': 'JULO',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'PT. CS2 POLA SEHAT',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'PT Indofood CBP Sukses Makmur Tbk - Noodle Division',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Social Insights Analyst',
  'company': 'Capgemini',
  'level': 'Associate',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Amar Bank',
  'level': 'Not Applicable',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst (Remote)',
  'company': 'Love, Bonito',
  'level': 'Mid-Senior level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Traveloka',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': None, 'company': None, 'level': None, 'employment-type': None},
 {'job-title': 'Data Center & Analysis',
  'company': 'PT. Bali Towerindo Sentra Tbk,',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Traveloka',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Business Intelligence Analyst',
  'company': 'Boost',
  'level': 'Associate',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Moladin',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Alterra Indonesia',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst (Remote)',
  'company': 'Portcast',
  'level': 'Not Applicable',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'torch.id',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Alterra Indonesia',
  'level': 'Mid-Senior level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Astra Financial',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst',
  'company': 'Traveloka',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst Staff - Sunter',
  'company': 'PT Wahana Ottomitra Multiartha Tbk',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Junior Data Analyst',
  'company': 'JULO',
  'level': 'Mid-Senior level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst (Marketing Analytics)',
  'company': 'Traveloka',
  'level': 'Entry level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst - Finance',
  'company': 'Krom',
  'level': 'Mid-Senior level',
  'employment-type': 'Full-time'},
 {'job-title': 'Data Analyst (Platform Analytics)',
  'company': 'Traveloka',
  'level': 'Entry level',
  'employment-type': 'Full-time'}]

In [40]:
df = pd.DataFrame(jobResult)

df.head()

,job-title,company,level,employment-type
0,Data Analyst,Gojek,Entry level,Full-time
1,Data Analyst (CRM),Gojek,Entry level,Full-time
2,Junior Data Analyst,JULO,Entry level,Full-time
3,Data Analyst,PT. CS2 POLA SEHAT,Entry level,Full-time
4,Data Analyst,PT Indofood CBP Sukses Makmur Tbk - Noodle Div...,Entry level,Full-time